body {
    height: 100%; 
    padding-bottom: 50px;
    margin: 0;
    background-image: url('./assets/background.svg');
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.page{
    display: flex;
    justify-content: center;
    height: max-content;
}

.top-nav img,
img,
h2,
.wordblock,
#triangles img,
#contact p
{
    filter: drop-shadow(15px 30px 10px #b143ff4d);
}

.content{
    display: -webkit-flex;
    display: flex;
    width: 500px;
    margin: 20px;
    flex-direction: column;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 60px;
}

.top-nav img {
    height:45px
}

.logo {
    margin-bottom: 60px;
}

h2{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                        
    background-color: #b143ff;
    font-weight:900;
    color: #ffec00;
    line-height: 300%;
    font-size: 15pt;
    margin-bottom: 50px;
}

.wordblock {
    background-color: #b143ff;
}

.wordblock p {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                         
    background-color: #b143ff;
    font-weight:normal;
    color: #ffec00;
    font-size: 12pt;
    line-height: 22pt;
    margin: 30px;
}

#triangles {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#triangles img{
    height: 24px;
    width: 30px;
    margin: 15px;
}

#contact {
    height: 100px;
}

#contact p {
    cursor: pointer;
    background-image: url('./assets/button.svg');
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                         
    font-weight:normal;
    color: #ffec00;
    font-size: 16pt;
    line-height: 60px;
    font-weight:900;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

#contact p:hover {
    background-image: url('./assets/button_hover.svg');
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;                                         
    font-weight:normal;
    color: #ffec00;
    font-size: 16pt;
    line-height: 60px;
    font-weight:900;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}
